@media (max-width:1600px) {
    .loginSection{
        margin-left: 10rem;
    }
}
@media (max-width:1000px) {
    .loginSection{
        margin-left: 5rem;
    }
}
@media (max-width:700px) {
    .loginSection{
        margin-top: 2rem;
        margin-left: 0rem;
        background-color: transparent;
    }
    .loginSection.Enable{
        height: 27rem;
        width: 20rem;
    }
}