*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* font-family: 'Nunito', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
font-family: 'AdorshoLipi', sans-serif;
}
